<body>
    <header class="container_custom header_main">
        <div class="header">
            <div class="menu">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li class="menu_lv2_food"><a routerLink="/shop">MenuFood </a>
                        <div class="menu_FoodLv2">
                            <div class="row">
                                <div class="col-lg-6 menu_food">
                                    <p>FOOD</p>
                                </div>
                                <div class="col-lg-6 menu_food">
                                    <p>BEVERAGE</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <div class="category_food">
                                        <p>Pizza</p>
                                        <p>French fries</p>
                                        <p>Fried chicken</p>
                                        <p>Hamburger</p>
                                        <p>Hot dog</p>
                                        <p>Sandwich</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="category_food">
                                        <p>Cola</p>
                                        <p>Fruit juice</p>
                                        <p>Soft drink</p>
                                        <p>Tea</p>
                                    </div>
                                </div>
                            </div>
                            <div class="combo mt-3 menu_combo">
                                <p>COMBO</p>
                                <i class="fa-solid fa-fire"></i>
                            </div>
                        </div>
                    </li>
                    <li><a routerLink="/blog">Blog</a></li>
                    <li class="menu_lv2_about"><a routerLink="/about">About </a>
                        <div class="menu_AboutLv2">
                            <p>About 1</p>
                            <p>About 2</p>
                            <p>About 3</p>
                        </div>
                    </li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="logo">
                <div class="player-tile__number">
                    <p>Hichoacau!</p>
                </div>
            </div>
            <div class="menu_right">
                <a href=""><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
                <a href="" routerLink="/login"><i class="fa-regular fa-user"></i></a>
                <a routerLink="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
        </div>
    </header>

    <!--1024px-->
    <div class="header_1024 container_custom_1024">
        <div class="header_content_1024">
            <div class="bars">
                <i class="fa-solid fa-bars" (click)="onNav()" id="bars"></i>
            </div>
            <div class="logo_1024">
                <div class="player-tile__number_1024">
                    <p>Hichoacau!</p>
                </div>
            </div>
            <div class="menu_right_1024">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a routerLink="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
        </div>
    </div>

    <!--nav-on-->
    <div class="bg-1024" id="nav_1024">
        <div class="box_contentmenu" id="box_contentmenu">
            <div class="nav-main-1024">
                <div class="nav-1024">
                    <div class="nav-header-1024">
                        <div class="account">
                            <a href=""><i class="fa-regular fa-user"></i></a>
                            <span>ACCOUNT</span>
                        </div>
                        <div class="close_1024">
                            <span>INT / $</span>
                            <i class="fa-solid fa-xmark" (click)="closeNav()"></i>
                        </div>
                    </div>
                </div>
                <div class="menu_1024 mt-2">
                    <div class="menu_content">
                        <a routerLink="/">HOME</a>
                        <div class="menu_multi">
                            <div class="menu_1024_multi">
                                <a routerLink="/shop">MENUFOOD</a>
                                <i class="fa-solid fa-angle-right" (click)="onMenu()" id="menuFood_icon"></i>
                            </div>
                            <div class="menuFood_1024" id="menuFood_1024">
                                <div class="food_1024">
                                    <h5>FOOD</h5>
                                    <p>Pizza</p>
                                    <p>French fries</p>
                                    <p>Fried chicken</p>
                                    <p>Hamburger</p>
                                    <p>Hot dog</p>
                                    <p>Sandwich</p>
                                </div>
                                <div class="food_1024">
                                    <h5>BEVERAGE</h5>
                                    <p>Cola</p>
                                    <p>Fruit juice</p>
                                    <p>Soft drink</p>
                                    <p>Tea</p>
                                </div>
                                <div class="combo_1024">
                                    <h5>COMBO</h5>
                                    <i class="fa-solid fa-fire"></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/blog">BLOG</a>
                        <div class="menu_multi">
                            <div class="menu_1024_multi">
                                <a routerLink="/about">ABOUT</a>
                                <i class="fa-solid fa-angle-right" (click)="onAbout()" id="about_icon"></i>
                            </div>
                            <div class="about_1024" id="about_1024">
                                <div class="food_1024">
                                    <p>About 1</p>
                                    <p>About 2</p>
                                    <p>About 3</p>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/contact">CONTACT</a>
                    </div>
                </div>
                <div class="logout">
                    <span>LOG IN</span>
                </div>
            </div>
        </div>
    </div>

</body>